MONGO_URI=
EDESY_API_KEY=
JWT_SECRET=
ENCRYPTION_KEY=
PORT=3000
EDESY_WEBHOOK_SECRET=
ADMIN_PASSWORD=sahil@admin2026
ADMIN_EMAIL=username47397@gmail.com
ADMIN_EMAILS=username47397@gmail.com,23cssahil@gmail.com
